@mixin link {
  font-size: 1.5rem;
	font-weight: 600;
  text-decoration: none;
  color: $color-grey-light-4;
}

@mixin linkMobile {
  font-size: 2rem;
	font-weight: 600;
  text-decoration: none;
  color: $color-grey-light-4;
}